html,
body {
    margin: 0px 0px;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f7f7f7;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    overflow: auto;
}

/* Install Page */

.install_form_contain {
    background-color: aquamarine;
    width: 95%;
    margin: 0 auto;
}

.install_form_elements {
    display: grid;
    grid-template-columns: 200px 500px;
    justify-content: center;
    font-size: 18px;
}

.install_form_elements input {
    font-size: 18px;
}






.element_spacer_one {
    padding-top: 20px;
}