@media only screen and (min-width: 769px) {

    footer {
        color: #fff;
        background-color: #2f3036;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 55px;
        font-size: 12px;
        display: flex;
    }

    .foot_details {
        text-align: left;
        flex: 1;
        padding-left: 50px;
    }

    .foot_login {
        text-align: right;
        flex: 1;
        padding-right: 50px;
    }

    .foot_login a {
        color: #fff;
    }

    /* Install Page */

    .install_form_heading {
        padding: 15px 0;
    }

    .install_form_instructions {
        justify-self: left;
        padding-bottom: 30px;
    }

    .install_form_elements {
        grid-template-columns: 200px 500px;
        font-size: 18px;
    }

    .install_form_elements input {
        font-size: 18px;
    }

    .install_form_submit {
        justify-self: right;
    }

    /* Login Page */

    .login_contain {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 45% 10% 45%;
        grid-template-areas:
            "login-heading login-heading login-heading"
            "login-explain . login-form";
        width: 95%;
        margin: 0 auto;
    }

    .login_heading {
        grid-area: login-heading;
        padding-top: 15px;
    }

    .login_explain {
        grid-area: login-explain;
        display: block;
        text-align: left;
        max-width: 500px;
        justify-self: right;
    }

    .login_form_elements {
        grid-area: login-form;
        justify-self: left;
        max-width: 500px;
        margin: 0;
    }

    .login_items_header_text {
        margin-bottom: 15px;
        text-align: left;
    }

    .login_form_item {
        padding: 0 25px;
    }

    .login_form_item input {
        font-size: 25px;
        width: 100%;
    }

    /* Main Menu */

    .main_menu {
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: auto 60px;
    }

    .main_menu a {
        transition: none;
    }

    .main_menu a:hover {
        color: #fff;
        background-color: tomato;
    }

    .main_menu img {
        display: block;
        place-self: center;
    }

    .menu_toggle {
        padding: 0;
    }

    .menu_toggle input {
        display: none;
    }

    .menu_toggle span {
        display: none;
    }

    .main_menu_items {
        position: static;
        display: flex;
        display: grid;
        align-items: stretch;
        justify-content: stretch;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0;
        padding: 0;
        transform-origin: unset;
        transform: none;
        transition: none;
    }

    .main_menu_items li {
        display: flex;
        padding: 0;
    }

    .main_menu_items li a {
        text-align: center;
        flex: 1;
        padding: 10px 0;
    }
}
